---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++17

ColumnLimit: 140
AccessModifierOffset: 0
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterExternBlock: false
  AfterFunction: true
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignOperands: Align
BinPackArguments: true
BinPackParameters: true
BreakConstructorInitializers: AfterColon
PackConstructorInitializers: BinPack

PointerAlignment: Left
ReferenceAlignment: Pointer
DerivePointerAlignment: false
SpaceBeforeParens: ControlStatements
SpacesInAngles: Never
SpacesInContainerLiterals: false
SpacesInParentheses: false

IndentCaseBlocks: false
IndentCaseLabels: false
IndentPPDirectives: None
NamespaceIndentation: None

IncludeBlocks: Regroup
SortIncludes: CaseSensitive
SortUsingDeclarations: Lexicographic

InsertBraces: false
RemoveBracesLLVM: false
ReflowComments: false
FixNamespaceComments: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks: Leave
...
